{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Educational articles</title>
    <style>
        h1 {
            text-align: center;
        }
    </style>
</head>


<body>
    <h1>Educational articles on sustainability</h1>
    <p>Read the articles below and complete quizzes in order to gain points to overtake your friends on the leaderboard! 
        Warning! You will only get one try on each quiz, so make sure you are confident before clicking check.
    </p>
    
    <a href="https://www.exeter.ac.uk/about/sustainability/whatyoucando/#footprint">Article 1 - University Of Exeter
        sustainability page: What you can do to reduce your carbon footprint</a>


        {% include 'quiz1.html' %}
    
    <button id="checkAnswer" style="display: block; margin-top: 10px;">Check Answers</button>

    <p id="feedback"></p>

    <script src="{% static 'articles/articles.js' %}"></script>

</body>

</html>