<!-- Author: Marcos Vega Ipas -->

{% extends 'base.html' %}
{% load static %}

{% block title %}Home{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'articles/css/articles-styles.css' %}">
{% endblock %}

{% block content %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Educational articles</title>
    <style>
        h1 {
            text-align: center;
        }
    </style>
</head>


<body>
    <h1 class="title">Educational Articles</h1>
    <a style="display: block; margin: 0 auto 20px auto;" href="/challenges" class="btn btn-primary w-25">Return to Challenges</a>
    <div class="container">
        <p style="text-align: center;">Read the articles below and complete quizzes in order to gain points to overtake your friends on the
            leaderboard! </p>
        <p style="text-align: center;">Warning! You will only get one try on each quiz, so make sure you are confident before clicking check. </p>
        <br>
        <a href="https://www.exeter.ac.uk/about/sustainability/whatyoucando/#footprint">Article 1 - University Of Exeter
            sustainability page: What you can do to reduce your carbon footprint</a>
        {% include 'quiz1.html' %}

        <button id="checkAnswer" class="btn btn-primary w-80">Check Answers</button>

        <p id="feedback"></p>
    </div>

    <script src="{% static 'articles/js/articles.js' %}"></script>
</body>
{% endblock %}

{% block extra_js %}
{% endblock %}