<!-- Author: Marcos Vega Ipas -->

{% extends 'base.html' %}
{% load static %}

{% block title %}Home{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'challenges/css/challenges-styles.css' %}">
{% endblock %}
{% block content %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Educational articles</title>
    <style>
        h1 {
            text-align: center;
        }
    </style>
</head>

<body>
    <h1 class="title">Challenges</h1>
    <div class="container">
        <div style="display: flex; align-items: center; margin-bottom: 35px;">
            <img src="/static/images/Book.png" alt="Articles" style="margin-right: 10px; height: 30px; width: 30px;">
            <a href="/articles" class="btn btn-primary w-25">Articles</a>
            <div style="margin-left: 20px; font-size: 17px; text-align: center; width: 60%;">
                Expand your knowledge on sustainability and eco-friendly practices by reading our curated articles. Then, test your understanding with quizzes and earn points along the way!
            </div>
        </div>
        
        <div style="display: flex; align-items: center; margin-bottom: 50px;">
            <img src="/static/images/Recycling.png" alt="QR Codes" style="margin-right: 10px; height: 30px; width: 30px;">
            <a href="/qr" class="btn btn-primary w-25">QR Codes</a>
            <div style="margin-left: 20px; font-size: 17px; text-align: center; width: 60%;">
                When recycling at a university bin, scan the QR code on its side to log your activity. Earn points for every successful scan!
            </div>
        </div>
        
        <div style="display: flex; align-items: center; margin-bottom: 35px;">
            <img src="/static/images/Bike.png" alt="Travel" style="margin-right: 10px; height: 30px; width: 30px;">
            <a href="/travel" class="btn btn-primary w-25">Travel</a>
            <div style="margin-left: 20px; font-size: 17px; text-align: center; width: 60%;">
                Log your daily commute to campus and earn points based on how eco-friendly your mode of transport is!

            </div>
        </div>
    </div>
</body>

{% endblock %}

{% block extra_js %}
{% endblock %}