<!-- Author: Marcos Vega Ipas -->

{% extends 'base.html' %}
{% load static %}

{% block title %}Home{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'challenges/css/challenges-styles.css' %}">
{% endblock %}
{% block content %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Educational articles</title>
    <style>
        h1 {
            text-align: center;
        }
    </style>
</head>

<body>
    <h1 class="title">Challenges</h1>
    <div class="container">
        <div style="display: flex; align-items: center; margin-bottom: 20px;">
            <img src="/static/images/Book.png" alt="Articles" style="margin-right: 10px; height: 30px; width: 30px;">
            <a href="/articles" class="btn btn-primary w-25">Articles</a>
            <p> thtghhefhfef </p>
        </div>
        
        <div style="display: flex; align-items: center; margin-bottom: 20px;">
            <img src="/static/images/Recycling.png" alt="QR Codes" style="margin-right: 10px; height: 30px; width: 30px;">
            <a href="/qr" class="btn btn-primary w-25">QR Codes</a>
        </div>
        
        <div style="display: flex; align-items: center; margin-bottom: 20px;">
            <img src="/static/images/Bike.png" alt="Travel" style="margin-right: 10px; height: 30px; width: 30px;">
            <a href="/travel" class="btn btn-primary w-25">Travel</a>
        </div>
    </div>
</body>

{% endblock %}

{% block extra_js %}
{% endblock %}