<!-- Author: Marcos Vega Ipas -->

<head>
    <style>
        .hidden {
            display: none;
        }
    </style>
</head>

<button id="toggleQuiz" class="btn btn-primary w-25">Quiz 1 ⬇</button>
<div id="quizContainer" class="hidden">
    <h6 class="subtitle2"><strong>Article 1 Quiz</strong></h6>

    <p class="subtitle question">Question 1</p>
    <p>The "Gift it, Reuse it" scheme allows students to buy second-hand household items at a discounted price</p>
    <label class="truefalse">
        <input type="radio" name="Q1" id="trueOption" value="true" /> True
    </label>
    <label class="truefalse">
        <input type="radio" name="Q1" id="falseOption" value="false" /> False
    </label>


    <p class="subtitle question">Question 2</p>
    <p>The circular economy focuses on keeping products in use for as long as possible through repairing, recycling, and redesign</p>
    <label class="truefalse">
        <input type="radio" name="Q2" id="trueOption" value="true" /> True
    </label>
    <label class="truefalse">
        <input type="radio" name="Q2" id="falseOption" value="false" /> False
    </label>


    <p class="subtitle question">Question 3</p>
    <p>Warp It is a platform where only University of Exeter staff can donate and receive surplus items</p>
    <label class="truefalse">
        <input type="radio" name="Q3" id="trueOption" value="true" /> True
    </label>
    <label class="truefalse">
        <input type="radio" name="Q3" id="falseOption" value="false" /> False
    </label>
    

    <p class="subtitle question">Question 4</p>
    <p>The article states that food production is responsible for one-quarter of all greenhouse gas emissions</p>
    <label class="truefalse">
        <input type="radio" name="Q4" id="trueOption" value="true" /> True
    </label>
    <label class="truefalse">
        <input type="radio" name="Q4" id="falseOption" value="false" /> False
    </label>


    <p class="subtitle question">Question 5</p>
    <p>The café outlets on campus offer a discount on hot drinks if you use a reusable cup</p>
    <label class="truefalse">
        <input type="radio" name="Q5" id="trueOption" value="true" /> True
    </label>
    <label class="truefalse">
        <input type="radio" name="Q5" id="falseOption" value="false" /> False
    </label>