<!-- Author: Marcos Vega Ipas -->

<head>
    <style>
        .hidden {
            display: none;
        }
    </style>
</head>

<button id="toggleQuiz" style="display: block; margin-top: 10px;" class="quiz-button" >Quiz 1 ⬇</button>
<div id="quizContainer" class="hidden">

<p><strong>Quiz on Article 1</strong></p>

<p>Q1) The "Gift it, Reuse it" scheme allows students to buy second-hand household items at a discounted price</p>
<label>
    <input type="radio" name="Q1" id="trueOption" value="true"/> True
</label>
<label>
    <input type="radio" name="Q1" id="falseOption" value="false"/> False
</label>

<p>Q2) The circular economy focuses on keeping products in use for as long as possible through repairing, recycling, and redesign</p>
<label>
    <input type="radio" name="Q2" id="trueOption" value="true"/> True
</label>
<label>
    <input type="radio" name="Q2" id="falseOption" value="false"/> False
</label>

<p>Q3) Warp It is a platform where only University of Exeter staff can donate and receive surplus items</p>
<label>
    <input type="radio" name="Q3" id="trueOption" value="true"/> True
</label>
<label>
    <input type="radio" name="Q3" id="falseOption" value="false"/> False
</label>

<p>Q4) The article states that food production is responsible for one-quarter of all greenhouse gas emissions</p>
<label>
    <input type="radio" name="Q4" id="trueOption" value="true"/> True
</label>
<label>
    <input type="radio" name="Q4" id="falseOption" value="false"/> False
</label>


<p>Q5) The café outlets on campus offer a discount on hot drinks if you use a reusable cup</p>
<label>
    <input type="radio" name="Q5" id="trueOption" value="true"/> True
</label>
<label>
    <input type="radio" name="Q5" id="falseOption" value="false"/> False
</label>
