{% extends 'base.html' %}
{% load static %}

{% block title %}Scan QR Code{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'qr/css/qr.css' %}">
{% endblock %}

{% block content %}
    <div class="container mt-5">
        <h1 class="text center">QR Code Challenge</h1>

        <div class="map-container">
            <img src="{% static 'qr/images/uni-qr-map.PNG' %}" alt="University QR Code Map" class="qr-map">
        </div>

        <p class="text center">Scan the QR code located near recycling 
        bins across the University, or enter the code manually below.</p>

        <div class="scan-overlay">
            <!--Video element for QR Scanner -->
            <video id="preview"></video>
        </div>

        <!-- Manual Entry Form -->
        <div class="card mb-4" id="manualCard">
            <div class="card-body">
                <h5 class="card-title">Manual QR Code Entry</h5>
                <form method="post" action="" id="qrForm">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="qr_code">QR Code:</label>
                        <input type="text" class="form-control" id="qr_code" name="qr_code" 
                            placeholder="Enter QR code" required>
                    </div>
                    <button type="submit" class="btn btn-primary w-25">Submit QR Code</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
{% block extra_js %}
<script src="https://rawgit.com/schmich/instascan-builds/master/instascan.min.js"></script>
<script src="{% static 'qr/js/qr.js' %}"></script>
{% endblock %}