#preview {
    width: 100%;
    max-width: 400px;
    margin: 20px auto;
    display: block;
    border: 1px solid #ccc;
    z-index: 1;
}

form {
    text-align: center;
}

.container {
    max-width: 800px;
    margin: 50px auto 100px;
    padding: 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 1;
}

h1 {
    text-align: center;
    font-size: 35px;;
}

p {
    text-align: center;
}

#submit {
    width: 100px;
}

.toast {
    visibility: hidden;
    min-width: 250px;
    color: rgb(0, 0, 0);
    text-align: center;
    border-radius: 8px;
    padding: 16px;
    position: fixed;
    left: 140px;
    bottom: 160px;
    z-index: 9999;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    opacity: 0;
    transition: opacity 0.5s, visibility 0.5s;
}

.toast.show {
    visibility: visible;
    opacity: 1;
}

.toast.success {
    background-color: #ffffff; /* Green for success */
}

.toast.error {
    background-color: #ffffff; /* Red for error */
}
