.container {
    max-width: 900px;
    margin: 50px auto;
    padding: 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

p {
    
    text-align: center;
    line-height: 0.8;
}


button {
    height: 25px;
    width: 80px;
    border-radius: 7px;
    border: none;
}
